body {
    margin: 0;
}

#header {
    background-color: #009094;
    height: 10vh;
}

/* loadin animation start */

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    z-index: 10000;
}

.load-text{
    position: absolute;
    top: 50%;
    left: 45%;
}

.loader {
    display: none;
    color: #472424;
    font-size: 11px;
    text-indent: -99999em;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before,
.loader:after {
    position: absolute;
    content: '';
}

.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #ffffff;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}

.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #ffffff;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* loading animation fin */


#welcome-msg{
    font-size: 25px;
    margin-top: 1vh;
    margin-left: 1vw;
}

.score-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 50%; */
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    table-layout: fixed;
}

.score-table th,
.score-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.score-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 18px;
}

@media(max-width:400px){
    #welcome-msg{
        font-size: 20px;
    }

    .score-table td{
        font-size: 14px;
    }
    .score-table th{
        font-size: 17px;
    }
}

@media(min-width:1300px) {
    #welcome-msg{
        font-size: 29px;
    }

    .score-table td{
        font-size: 18px;
    }
    .score-table th{
        font-size: 20px;
    }
}